<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Spring Client</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container pt-3">		
		<h2>Dự án Quản lý tòa nhà văn phòng</h2>
		<p>Chức năng thêm, sửa, xóa, tìm kiếm cho lớp nhân viên công ty</p>
		<div class="row pt-3">
			<div class="col-sm-3">
				<a th:href="@{/staff/get}"><button class="btn btn-success">Danh sách nhân viên</button></a>
			</div>
			<div class="col-sm-2">
				<a th:href="@{/staff/insert}"><button class="btn btn-success">Thêm
						nhân viên</button></a>
			</div>

		</div>

	</div>
</body>
</html>